body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

form {
    width: 300px;
    margin: auto;
}

input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

button {
    padding: 8px;
    cursor: pointer;
}
.Error-message{
    color: red;
}

.form-input:hover::after {
    /* content: "Enter a valid username"; */
    /* position: absolute; */
    /* background: black; */
    color: white;
    padding: 5px;
    border-radius: 4px;
}
