body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.Form-container{
    border: 2px solid black; 
    border-radius: 1rem;
    padding: 1rem;  
}
form {
    width: 300px;
     
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid darkgreen;
    cursor: pointer;
    border-radius: 1rem;
}

button:hover {
    background-color: #45a049;
    border: 1.5px solid darkgreen;
}

.error {
    color: red;
}

